.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.web {
  color: $acent;
}
.menu-logo {
  padding-right: 93px;
}
