.header-adress {
  font-size: 14px;
  color: $gray;
}
.heder-ico-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.heder-ico-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.malto:hover .heder-ico-mail,
.malto:focus .heder-ico-mail {
  fill: $acent;
}
.tel:hover .heder-ico-phone,
.tel:focus .heder-ico-phone {
  fill: $acent;
}
.menu > .text {
  font-weight: 500;
}
.header {
  height: 80px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > .flex-item {
  align-items: center;
}
.header-border {
  border-bottom: 1px solid #ececec;
}

.menu:not(:last-child) {
  margin-right: 50px;
}
.menu {
  position: relative;
}
.curent {
  color: $acent;
}
.curent::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $acent;
  bottom: -29px;
  left: 0;
}
.menu-link:hover::after,
.menu-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $acent;
  bottom: -29px;
  left: 0;
}
