.header {
  height: 80px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .flex-item {
    align-items: center;
  }
  &-border {
    border-bottom: 1px solid #ececec;
  }
  &-adress {
    font-size: 14px;
    color: $gray;
  }
  &-ico-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-ico-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .malto:hover &,
    .malto:focus & {
      fill: $acent;
    }
  }
}
.heder-ico-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .tel:hover &,
  .tel:focus & {
    fill: $acent;
  }
}
.heder-ico-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .malto:hover &,
  .malto:focus & {
    fill: $acent;
  }
}
.menu {
  position: relative;

  > .text {
    font-weight: 500;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.curent {
  color: $acent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $acent;
    bottom: -29px;
    left: 0;
  }
}
.menu-link:hover::after,
.menu-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $acent;
  bottom: -29px;
  left: 0;
}
